ul{
  list-style: none;
}

li{
  
}

.isbn{
    color: grey;
    font-style: italic;
    font-size: 0.5em;
}

.title{
    font-weight: 700;
    font-size: 1.5em;
}

.subtitle{
    font-weight: 500;
    font-size: 1.3em;
}

.author{
    color: grey;
    font-size: 1em;
    font-style: italic;
}

.published{
    padding-top: 2em;
    color: grey;
    font-size: 0.5em;
}

.publisher{
    color: grey;
    font-size: 0.7em;
}

.pages{
    padding-top: 1em;
    padding-right: 1em;
    color: grey;
    text-align: right;
}

.description{
    text-align: justify;
    text-indent: 2em;
}

.website{
    text-indent: 2em;
    color: blue;
}






